<?xml version="1.0"?>
<config>
    <modules>
        <Tamnil_Test>
            <version>0.0.1</version>
        </Tamnil_Test>
    </modules>
    <global>
        <blocks>
            <tamnil_test>
                <class>Tamnil_Test_Block</class>
            </tamnil_test>
            <tamnil_test_adminhtml>
                <class>Tamnil_Test_Block_Adminhtml</class>
            </tamnil_test_adminhtml>
        </blocks>
        <models>
            <tamnil_test>
                <class>Tamnil_Test_Model</class>
            </tamnil_test>
        </models>
        <helpers>
            <tamnil_test>
                <class>Tamnil_Test_Helper</class>
            </tamnil_test>
        </helpers>
        <!--
        <resources>
            <tamnil_test_setup>
                <setup>
                    <module>Tamnil_Test</module>
                </setup>
            </tamnil_test_setup>
        </resources>
        -->
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <tamnil_test>
                        <class>tamnil_test/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </tamnil_test>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        <!--
        <routers>
           <tamnil_test>
               <use>standard</use>
               <args>
                   <module>Tamnil_Test</module>
                   <frontName>mgt</frontName>
               </args>
           </tamnil_test>
        </routers>
        -->
        <layout>
            <updates>
                <tamnil_test>
                    <file>tamnil_test.xml</file>
                </tamnil_test>
            </updates>
        </layout>
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tamnil_Test before="Mage_Adminhtml">Tamnil_Test_Adminhtml</Tamnil_Test>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <tamnil_test_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>tamnil_test/observer::methodName</model>
                </run>
            </tamnil_test_cron>
        </jobs> 
    </crontab>
    -->
</config>
